# FastAPI и веб-сервер
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# Система очередей
celery==5.3.4
redis==5.0.1
flower==2.0.1

# Аудио обработка
numpy==1.26.4
scipy==1.12.0
librosa==0.10.1
soundfile==0.12.1
pyloudnorm==0.1.1

# DL models:
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchaudio==2.3.1

panns-inference==0.1.0

# Опционально (для аудио↔текст): если не нужен CLAP — можно не ставить
# laion-clap==1.1.6