# FastAPI и веб-сервер
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# (Optional) External queue deps can be added later (redis, pika, httpx)

# Аудио обработка
numpy>=2.2.0
scipy
librosa==0.10.1
soundfile>=0.13.1
pyloudnorm==0.1.1

# DL models:
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.7.0
torchaudio>=2.7.0

panns-inference==0.1.0
deeprhythm==0.0.13
git+https://github.com/deezer/skey.git


# Опционально (для аудио↔текст): если не нужен CLAP — можно не ставить
# laion-clap==1.1.6